<%= render 'layouts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-md-10 instructions-col">
      <div class="card bg-light instructions-card">
        <div class="card-body">
          <h5 class="card-title">
            Text analysis with Natural Language Processing
          </h5>
          <p class="card-text">
            Analyze your text files with the latest Natural Language Processing (NLP) models, without writing any code.
            At the moment, only Named Entity Recognition is supported, but more options will be added soon!
          </p>
          <p class="card-text">
            Instead of analyzing an existing file, you can also upload your own <b>.txt</b> file below.
          </p>
          <p class="card-text">
            <%= link_to new_text_document_path, class: "btn btn-primary" do %>
                <%= fa_icon "upload", "aria-hidden": "true", title: "Upload" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9" id="text-documents-table">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @text_documents.each do |text_document| %>
               <tr>
                  <td scope="row"><%= text_document.file_name %></td>
                  <td class="button-cell">
                    <%= link_to analyze_text_document_path(text_document), class: "btn btn-success", type: "button"  do %>
                        <%= fa_icon "bar-chart", "aria-hidden": "true", title: "Analyze"%> <span>Analyze</span>
                    <% end %>
                    <%= link_to text_document_path(text_document), class: "btn btn-primary", type: "button"  do %>
                        <%= fa_icon "file-text", "aria-hidden": "true", title: "View" %> <span>View</span>
                    <% end %>
                    <%= button_to text_document, method: :delete, class: "btn btn-danger",
                            form_class: "td-form", confirm: "Are you sure that you wish to delete #{text_document.file_name}?",
                            type: "button" do %>
                        <%= fa_icon "trash", "aria-hidden": "true", title: "Delete" %>
                    <% end %>
                  </td>
            <% end %>
          </tbody>
          </table>
    </div>
  </div>
</div>
