<div class="container">
  <div class="row">
    <div class="col-md-6" id="text-document-form">
      <h1> Annotate a new text </h1>
      <%= form_with model: @text_document do |f| %>
        <div class="form-group">
          <%= f.label :textfile %>
          <%= f.file_field :textfile, class: "form-control-file" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control"  %>
        </div>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
