<%= render 'layouts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-md-10 show-col">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <%= link_to text_documents_path, class: "btn btn-outline-secondary back-button", type: "button"  do %>
              <%= fa_icon "arrow-left", "aria-hidden": "true", title: "Back" %>
          <% end %>
          <span><b><%= @text_document.file_name %></b></span>
        </div>
        <div class="card-body">
          <h5 class="card-title">File description</h5>
          <p class="card-text">
            <%= @text_document.description %>
          </p>
          <h5 class="card-title">File text</h5>
          <p class="card-text">
            <%= simple_format(html_escape @text_document.file_content, sanitize: false) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
